<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Barra de Progreso
        </h4>
        <div class="progress m-t-20">
          <div class="progress-bar bg-info progress-bar-striped active"
                style="height: 7px"
                [style.width]="getPorcentaje"
                role="progressbar">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <div class="input-group">
          <span class="input-group-btn">
            <button (click)="cambiarValor(-5)" class="btn btn-primary" type="button"><i class="fa fa-minus"></i></button>
          </span>

          <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="progreso">

          <span class="input-group-btn">
            <button (click)="cambiarValor(5)" class="btn btn-primary" type="button"><i class="fa fa-plus"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <button (click)="guardar()" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
