<div [class.oculto]="unidadService.ocultarModal" class="fondo-modal animated fadeIn fast">
  <form [formGroup]="unidadForm" (ngSubmit)="save()">
    <app-modal-structure [title]="title ? 'Nueva Unidad': 'Editar Unidad'">
      <div ngProjectAs="card-content">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="form-group" [class.has-danger]="unidadForm.get('nombre').invalid && unidadForm.get('nombre').touched">
              <label class="form-control-label" for="nombre">Nombre</label>
              <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre de Unidad" />

              <div *ngIf="unidadForm.get('nombre').invalid && unidadForm.get('nombre').touched">
                <div *ngIf="unidadForm.get('nombre').hasError('required')" class="form-control-feedback">El nombre es requerido.</div>
              </div>
            </div>
            <div class="form-group" [class.has-danger]="unidadForm.get('abreviacion').invalid && unidadForm.get('abreviacion').touched">
              <label for="abreviacion" class="form-control-label">Abreviacion</label>
              <input type="text" formControlName="abreviacion" class="form-control" id="abreviacion" placeholder="Abreviacion de Unidad">
              <div *ngIf="unidadForm.get('abreviacion').invalid && unidadForm.get('abreviacion').touched">
                <div *ngIf="unidadForm.get('abreviacion').hasError('required')" class="form-control-feedback">La abreviacion es requerido.</div>
              </div>
            </div>
            <div class="form-group" [class.has-danger]="unidadForm.get('estado').invalid && unidadForm.get('estado').touched">
              <label for="estado" class="form-control-label">Estado</label>
              <select name="estado" id="" class="form-control" formControlName="estado">
                <option [ngValue]="null" disabled>Selecciona una opcion</option>
                <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
              </select>
              <div *ngIf="unidadForm.get('estado').invalid && unidadForm.get('estado').touched">
                <div *ngIf="unidadForm.get('estado').hasError('required')" class="form-control-feedback">Selecciona un estado</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" ngProjectAs="modal-footer">
        <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="unidadForm.invalid">Guardar</button>
        <!-- <button type="button" (click)="barrioService.cerrarModal()" class="btn btn-secondary" data-dismiss="modal"></button>
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="!barrioForm.valid">Guardar</button> -->
      </div>
    </app-modal-structure>
  </form>
</div>

